Source: ros-galactic-rosbag2-storage-mcap
Section: misc
Priority: optional
Maintainer: Foxglove <ros-tooling@foxglove.dev>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-cmake-clang-format, ros-galactic-ament-index-cpp, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-mcap-vendor, ros-galactic-pluginlib, ros-galactic-rcutils, ros-galactic-rosbag2-storage, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-rosbag2-storage-mcap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-ament-index-cpp, ros-galactic-mcap-vendor, ros-galactic-pluginlib, ros-galactic-rcutils, ros-galactic-rosbag2-storage, ros-galactic-ros-workspace
Description: rosbag2 storage plugin using the MCAP file format
